div#links
{
	position: absolute;
	top: 0px;
	left: 167px;
	width:100%;
	height:200px;
}

div#links ul
{
	height:100%
}

div#links li
{
	list-style:none;
	margin:0;
	padding-top:80px;
	float:left;
	width:20%;	/* width of all menu boxes */
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

div#links ul li:hover						/* menu on mouse-over  */
{
	background-image: url('/images/bot.png')
	text-decoration:none;
}	

div#content
{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}
